.year-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    gap: 20px;
}

.year-picker label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.year-picker select {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.year-picker select:focus {
    border-color: #007bff;
    outline: none;
}

.choose {
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
